body {
  padding-top: 50px;
  position: relative;
}
.starter-template {
  padding: 40px 15px;
  /*text-align: center;*/
}

.footer {
  position: absolute;
  padding: 20px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.btn-insert {
    padding: 6px 45px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 98.8vw;
    height:100vh;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000000000;
}
.overlay img {
    position: absolute;
    left: 45%;
    top: 45%;
}